Importing all the needed libraries

In [1]:
import numpy as np
import pandas as pd

Write a Python program to create and display a one-
dimensional array-like object containing an array of data using Pandas module.

In [3]:
arr1=np.arange(5,55,5)
df=pd.DataFrame({'contents':arr1})
print (df)

   contents
0         5
1        10
2        15
3        20
4        25
5        30
6        35
7        40
8        45
9        50

Write a Python program to convert a Panda module Series to
Python list and its type.

In [11]:
print (type(df['contents']))
print (df['contents'].dtype)
li=list(df['contents'])
print (type(li))

<class 'pandas.core.series.Series'>
int64
<class 'list'>

Write a Python program to add, subtract, multiple and divide
two Pandas Series.

In [15]:
ser1=pd.Series([2,4,6,8])
ser2=pd.Series([1,3,5,7])
print (type(ser1),type(ser2))
print (ser1+ser2)
print (ser1-ser2)
print (ser1*ser2)
print (ser1/ser2)

<class 'pandas.core.series.Series'> <class 'pandas.core.series.Series'>
0     3
1     7
2    11
3    15
dtype: int64
0    1
1    1
2    1
3    1
dtype: int64
0     2
1    12
2    30
3    56
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
dtype: float64

Write a Python program to compare the elements of the two
Pandas Series.

In [22]:
ser3=pd.Series([2,4,6,8])
def comp_series(ser1,ser2):
    if (ser1==ser2).all():
        print ("Equal")
    else:
        print ("Not Equal")
comp_series(ser1,ser3)
comp_series(ser1,ser2)

Equal
Not Equal

Write a Python program to display the following data column
wise.

In [65]:
emp_data  = {'desig': ['EM', 'SE', 'SM', 'SSE', 'SE'],
        'Sal': [32.5, 9, 40.5, 18, 12],
        'id': [1, 3, 2, 8, 6],
        'manager': ['yes', 'no', 'yes', 'no', 'no']}
labels = ['Chris', 'Matt', 'Joe', 'Mary', 'Maya']

df = pd.DataFrame(emp_data , index=labels)
print(df.transpose())

        Chris Matt   Joe Mary Maya
desig      EM   SE    SM  SSE   SE
Sal      32.5    9  40.5   18   12
id          1    3     2    8    6
manager   yes   no   yes   no   no

Write a Python program to create and display a Data Frame
from a specified dictionary data which has the index labels.

In [31]:
emp_data  = {'desig': ['EM', 'SE', 'SM', 'SSE', 'SE'],
        'Sal': [32.5, 9, 40.5, 18, 12],
        'id': [1, 3, 2, 8, 6],
        'manager': ['yes', 'no', 'yes', 'no', 'no']}
labels = ['Chris', 'Matt', 'Joe', 'Mary', 'Maya']

df = pd.DataFrame(emp_data , index=labels)
print(df)

      desig   Sal  id manager
Chris    EM  32.5   1     yes
Matt     SE   9.0   3      no
Joe      SM  40.5   2     yes
Mary    SSE  18.0   8      no
Maya     SE  12.0   6      no

Write a Python program to select the specified columns and
rows from a given Data Frame.

In [40]:
df1=pd.DataFrame(emp_data)
df1['name']=labels
print (df1.loc[0])
print (df1['name'])

print (df1.iloc[0:2,1:4])

desig         EM
Sal         32.5
id             1
manager      yes
name       Chris
Name: 0, dtype: object
0    Chris
1     Matt
2      Joe
3     Mary
4     Maya
Name: name, dtype: object
    Sal  id manager
0  32.5   1     yes
1   9.0   3      no

Write a Python program to select the rows the score is between
15 and 20 (inclusive).

In [54]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df_new = pd.DataFrame(exam_data , index=labels)
df_new[(df_new.score<=20) & (df_new.score>=15)]

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

Write a Python program to select the rows where number of
attempts in the examination is less than 2 and score greater than 15.

In [55]:
df_new[(df_new.attempts<2) & (df_new.score>15)]

    name  score  attempts qualify
j  Jonas   19.0         1     yes

Write a Python program to append a new row 'k' to Data Frame
with given values for each column. Now delete the new row and
return the original data frame.

In [57]:
print (df_new)
df_new.loc['k'] = [1, 'Suresh', 'yes', 15.5]
print (df_new)
df_new = df_new.drop('k')
print (df_new)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
        name   score attempts qualify
a  Anastasia    12.5        1     yes
b       Dima       9        3      no
c  Katherine    16.5        2     yes
d      James     NaN        3      no
e      Emily       9        2      no
f    Michael      20        3     yes
g    Matthew    14.5        1     yes
h      Laura     NaN        1      no
i      Kevin       8        2      no
j      Jonas      19        1     yes
k          1  Suresh      yes    15.5
        name score attempts qualify
a  Anastasia  12.5        1     yes
b       Dima     9        3      no
c  Katherine  16.5        2     yes
d      James   NaN        3      no
e      Emily     9        2      no
f    Michael    20        3     yes
g    Matthew  14.5        1     yes
h      Laura   NaN        1      no
i      Kevin     8        2      no
j      Jonas    19        1     yes

Write a Python program to sort the data frame first by 'name' in
descending order, then by 'score' in ascending order.

In [58]:
df_sorted=df_new.sort_values(by=['name', 'score'], ascending=[False, True])
print (df_sorted)

        name score attempts qualify
f    Michael    20        3     yes
g    Matthew  14.5        1     yes
h      Laura   NaN        1      no
i      Kevin     8        2      no
c  Katherine  16.5        2     yes
j      Jonas    19        1     yes
d      James   NaN        3      no
e      Emily     9        2      no
b       Dima     9        3      no
a  Anastasia  12.5        1     yes

Write a Python program to insert a new column in existing Data
Frame.

In [59]:
df_new['Origin']=['US','US','AUS','UK','CAN','ITA','UK','AUS','SGP','SGP']
print (df_new)

        name score attempts qualify Origin
a  Anastasia  12.5        1     yes     US
b       Dima     9        3      no     US
c  Katherine  16.5        2     yes    AUS
d      James   NaN        3      no     UK
e      Emily     9        2      no    CAN
f    Michael    20        3     yes    ITA
g    Matthew  14.5        1     yes     UK
h      Laura   NaN        1      no    AUS
i      Kevin     8        2      no    SGP
j      Jonas    19        1     yes    SGP

Write a Python program to change the name 'James' to 'Suresh'
in name column of the data frame.

In [63]:
df_new['name']=df_new.name.replace('James','Suresh')

In [64]:
print (df_new)

        name score attempts qualify Origin
a  Anastasia  12.5        1     yes     US
b       Dima     9        3      no     US
c  Katherine  16.5        2     yes    AUS
d     Suresh   NaN        3      no     UK
e      Emily     9        2      no    CAN
f    Michael    20        3     yes    ITA
g    Matthew  14.5        1     yes     UK
h      Laura   NaN        1      no    AUS
i      Kevin     8        2      no    SGP
j      Jonas    19        1     yes    SGP